<div class="swislr-landing">
  <div id="map" style="height:100vh; width:100%;"></div>
  <div class="banner">
    <!--<h1>Welcome to the SWISLR Seek Platform</h1>-->
    <p>Connecting scholars and experts interested in saltwater intrusion and sea level rise</p>
  </div>
  <div class="sidebar-buttons">
    <a href="/collaborators" class="btn">Seeking collaborators?</a>
    <a href="/data" class="btn">Seeking data?</a>
    <a href="/publications" class="btn">Seeking publications?</a>
    <a href="/stories" class="btn">Stories from the field</a>
  </div>
</div>

